@font-face {
    font-family: "gilroyextrabold";
    src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
    url("../fonts/gilroyextrabold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "gilroylight";
    src: url("../fonts/gilroylight.woff2") format("woff2"),
    url("../fonts/gilroylight.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "open_sanslight";
    src: url("../fonts/opensanslight.woff2") format("woff2"),
    url("../fonts/opensanslight.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "open_sansregular";
    src: url("../fonts/opensans.woff2") format("woff2"),
    url("../fonts/opensans.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    min-width: 1200px;

    font-family: "open_sanslight", "Arial", sans-serif;
    font-size: 15px;
    letter-spacing: 0.01em;
    color: #000000;
    
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.button {
    vertical-align: middle;
    text-align: center;
    font-family: "gilroyextrabold", "Arial", sans-serif;
    font-size: 18px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000000;

    background-color: transparent;
    background-image: linear-gradient(rgba(0, 0, 0, 0) 33%, #f0c52e 33%, #f0c52e 66%, rgba(0, 0, 0, 0) 66%);
    border: none;
    border-radius: 0;
}

.button:hover,
.button:focus {
    background-color: #f0c52e;
    background-image: none;
}

.button:active {
    color: rgba(0, 0, 0, 0.3);

    background-color: #f0c52e;
    background-image: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.main-header-wrapper {
    padding-top: 20px;
    padding-bottom: 40px;
    padding-left: 60px;
    padding-right: 60px;

    background-color: #f7e296;
    background-image: linear-gradient(#ffffff 40px, #f7e296 40px);
}

.inner-page .main-header {
    margin-bottom: 40px;
}

.main-header a {
    color: #000000;
}

.main-header a[href]:hover,
.main-header a[href]:focus {
    color: rgba(0, 0, 0, 0.6);
}

.main-header a[href]:active {
    color: rgba(0, 0, 0, 0.3);
}

.header-logo img {
    margin-bottom: 30px;
    width: 164px;
    height: 36px;
}

a[href].header-logo:hover,
a[href].header-logo:focus {
    opacity: 0.6;
}

a[href].header-logo:active {
    opacity: 0.3;
}

.main-header-top-line {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.search {
    width: 440px;
}

.search-input {
    font: inherit;
    line-height: 36px;
    color: rgba(0, 0, 0, 0.3);

    background-color: transparent;
    border: none;
}

.search-input:hover {
    color: rgba(0, 0, 0, 0.6);
}

.search-input:focus {
    color: #000000;

    border-bottom: 2px solid #000000;
}

.search-input::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.3);
}

.search-input:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.3);
}

.search-input::-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.3);
}

.search-input::placeholder {
    color: rgba(0, 0, 0, 0.3);
}

.search-input:hover::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.6);
}

.search-input:hover:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.6);
}

.search-input:hover::-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.6);
}

.search-input:hover::placeholder {
    color: rgba(0, 0, 0, 0.6);
}

.search-button {
    line-height: 36px;

    background-color: transparent;
    border: 2px solid #000000;
    border-radius: 0;
}

.search-button:hover,
.search-button:focus {
    color: #ffffff;
    
    background-color: #000000;
}

.search-button:active {
    color: rgba(255, 255, 255, 0.3);

    background-color: #000000;
}

.user-navigation {
    margin: 0;
    padding: 0;
    width: 500px;

    list-style: none;
}

.user-navigation a {
    font-size: 15px;
    line-height: 36px;
}

.main-navigation ul {
    margin: 0;
    padding: 0;

    list-style: none;
}

.main-navigation a {
    font-family: "gilroyextrabold", "Arial", sans-serif;
    font-size: 18px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.catalog-navigation {
    list-style: none;
}

.catalog-navigation a {
    font-family: "open_sanslight", "Arial", sans-serif;
    font-size: 15px;
    line-height: 36px;
    letter-spacing: 0;
    text-transform: none;
}

.inner-title-wrapper {
    padding-left: 60px;
}

.page-title {
    margin: 0;
    margin-bottom: 30px;

    font-family: "gilroyextrabold", "Arial", sans-serif;
    font-size: 47px;
    letter-spacing: 0.01em;
}

.breadcrumbs {
    margin: 0;
    margin-bottom: 50px;
    padding: 0;

    list-style: none;
}

.breadcrumbs a,
.breadcrumbs-current {
    line-height: 36px;
    color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
    color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
    color: rgba(0, 0, 0, 0.1);
}

.promo {
    margin-bottom: 105px;
}

.promo-list {
    display: flex;
    margin: 0;
    padding: 0;

    list-style: none;

    overflow: hidden;
}

.promo-item {
    display: flex;
    justify-content: space-between;
}

.promo-wrap {
    order: 1;

    width: 560px;
}

.promo-title {
    font-family: "gilroyextrabold", "Arial", sans-serif;
    font-size: 47px;
    letter-spacing: 0.01em;
}

.promo-description {
    line-height: 30px;
    color: #464646;
}

.product-features {
    list-style: none;
}

.product-features-value {
    font-family: "gilroylight", "Arial", sans-serif;
    font-size: 36px;
    letter-spacing: 0.01em;
}

.product-features-name {
    font-size: 13px;
    line-height: 20px;
    color: #464646;
}

.categories {
    margin-bottom: 160px;
}

.categories ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;

    list-style: none;
}

.categories-item {
    width: 160px;
}

.categories-wrap {
    background-color: #f7e296;
}

.categories-link:hover .categories-wrap,
.categories-link:focus .categories-wrap {
    background-color: #f0c52e;
}

.categories-link:active img {
    opacity: 0.3;
}

.categories-link:active h3 {
    color: rgba(0, 0, 0, 0.3);
}

.categories-item h3 {
    font-family: "gilroyextrabold", "Arial", sans-serif;
    font-size: 18px;
    letter-spacing: 0.01em;
    color: #000000;
}

.services {
    margin-bottom: 95px;

    background-color: #e5e5e5;
    background-image: linear-gradient(#ffffff 30px, #e5e5e5 30px);
}

.services .container {
    display: flex;
}

.services-names {
    margin: 0;
    padding: 0;
    width: 300px;

    list-style: none;
}

.services-names .button:active {
    color: #f7e184;

    background-color: #000000;
}

.services-names-item {
    margin-bottom: 25px;
    width: 280px;
    height: 40px;
}

.services-current .button,
.services-current .button:hover,
.services-current .button:focus,
.services-current .button:active {
    color: #f7e184;

    background-color: #000000;
    background-image: none;
}

.services-description {
    margin: 0;
    margin-left: 100px;
    padding: 0;
    width: 700px;

    list-style: none;
}

.services-description-item {
    width: 460px;
}

.service-title {
    margin: 0;

    font-family: "gilroyextrabold", "Arial", sans-serif;
    font-size: 47px;
    letter-spacing: 0.01em;
}

.service-description {
    margin: 0;

    line-height: 30px;
    color: #464646;
}

.brands {
    margin-bottom: 155px;
}

.brands-list {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;

    list-style: none;
}

.brands-logo {
    width: 260px;
    height: 100px;

    opacity: 0.2;
    background-position: 0 0;
    background-repeat: no-repeat;
}

.brands-logo:hover,
.brands-logo:focus {
    opacity: 1;
    background-position: 0 -100px;
}

.brands-dji {
    background-image: url("../img/brand-sprite-dji.png");
}

.brands-spgadgets {
    background-image: url("../img/brand-sprite-spgadgets.png");
}

.brands-gopro {
    background-image: url("../img/brand-sprite-gopro.png");
}

.brands-vive {
    background-image: url("../img/brand-sprite-vive.png");
}

.index-wrapper {
    display: flex;
    justify-content: space-between;
}

.about {
    width: 460px;
}

.about-title {
    font-family: "gilroyextrabold", "Arial", sans-serif;
    font-size: 47px;
    letter-spacing: 0.01em;
}

.about-info {
    line-height: 30px;
}

.delivery-list {
    list-style: none;
}

.delivery-item {
    font-family: "gilroyextrabold", "Arial", sans-serif;
    font-size: 16px;
    line-height: 40px;
}

.contacts {
    width: 560px;
}

.contacts-title {
    font-family: "gilroyextrabold", "Arial", sans-serif;
    font-size: 47px;
    letter-spacing: 0.01em;
}

.contacts-info {
    line-height: 30px;
}

.catalog-wrapper {
    padding-top: 25px;

    background-color: #ebebeb;
    background-image:
            linear-gradient(90deg, #efefef 33%, #ffffff 33%),
            linear-gradient(90deg, #dbdbdb 33%, #ebebeb 33%);
    background-position: 0 70px, 0 0;
    background-repeat: no-repeat;
}

.catalog-wrapper .container {
    display: flex;
}

.catalog-right-wrapper {
    padding-left: 105px;
}

.filters {
    padding-left: 60px;
    width: 270px;
}

.filters h2 {
    margin: 0;
    margin-bottom: 110px;

    font-family: "gilroyextrabold", "Arial", sans-serif;
    font-size: 16px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.filters fieldset {
    margin: 0;
    padding: 0;

    border: none;
}

.filters legend {
    font-family: "gilroyextrabold", "Arial", sans-serif;
    font-size: 18px;
    letter-spacing: 0.01em;
}

.price-range input {
    background-color: transparent;
    border: none;
}

.price-range input,
.price-range label {
    font-family: "gilroylight", "Arial", sans-serif;
    font-size: 14px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.2);
}

.filters ul {
    margin: 0;
    padding: 0;

    list-style: none;
}

.filter-input:disabled + .checkbox-indicator + label {
    color: #a6a6a6;
}

.filters label {
    font-size: 14px;
    line-height: 40px;
}

.sort {
    display: flex;
}

.sort h2 {
    margin: 0;

    font-family: "gilroyextrabold", "Arial", sans-serif;
    font-size: 16px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.sort ul {
    list-style: none;
}

.sort a {
    font-family: "open_sansregular", "Arial", sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.3);
}

.sort a[href]:hover,
.sort a[href]:focus {
    color: rgba(0, 0, 0, 0.6);
}

.sort a[href]:active {
    color: #000000;
}

.sort-param-current a,
.sort-order-current a {
    color: #000000;
}

.catalog {
    width: 760px;
}

.catalog-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;

    list-style: none;
}

.catalog-item {
    width: 360px;
    margin-right: 40px;
}

.catalog-item:nth-child(even) {
    margin-right: 0;
}

.catalog-item-name a {
    font-family: "gilroyextrabold", "Arial", sans-serif;
    font-size: 18px;
    letter-spacing: 0.01em;
    color: #000000;
}

.catalog-item:hover img,
.catalog-item:focus img {
    opacity: 0.7;
}

.catalog-item ul {
    list-style: none;
}

.compare-link {
    font-size: 13px;
    line-height: 36px;
    color: rgba(0, 0, 0, 0.5);

    background-color: transparent;
    border: none;
}

.compare-link:hover,
.compare-link:focus {
    color: #000000;
}

.compare-link:active {
    color: rgba(0, 0, 0, 0.2);
}

.catalog-item-price {
    font-family: "gilroylight", "Arial", sans-serif;
    font-size: 16px;
    letter-spacing: 0.01em;
    color: #464646;
}

.pagination {
    list-style: none;

    background-color: #ebebeb;
}

.pagination-item a {
    font-family: "gilroyextrabold", "Arial", sans-serif;
    font-size: 16px;
    letter-spacing: 0.2em;
    color: rgba(0, 0, 0, 0.3);
}

.pagination-item a[href]:hover,
.pagination-item a[href]:focus {
    color: rgba(0, 0, 0, 0.6);
}

.pagination-item a[href]:active {
    color: #000000;
}

.pagination-item-current a {
    color: #000000;
}

.pagination-prev a,
.pagination-next a {
    color: #000000;
}

.pagination-prev a[href]:hover,
.pagination-next a[href]:hover,
.pagination-prev a[href]:focus,
.pagination-next a[href]:focus {
    background-color: #d9d9d9;
}

.pagination-prev a[href]:active,
.pagination-next a[href]:active {
    color: rgba(0, 0, 0, 0.3);

    background-color: #d9d9d9;
}

.main-footer {
    margin-top: 85px;
    padding-top: 65px;
    padding-bottom: 65px;

    color: #ffffff;

    background-color: #464646;
}

.inner-page .main-footer {
    margin-top: 0;
}

.main-footer .container {
    display: flex;
}

.main-footer-left {
    width: 260px;
}

.main-footer-middle {
    margin-left: 100px;
    margin-top: 70px;

    text-align: center;
}

.main-footer-right {
    margin-left: auto;
    width: 330px;

    text-align: right;
}

.footer-logo {
    font-family: "gilroyextrabold", "Arial", sans-serif;
    font-size: 48px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #ffc600;
}

a[href].footer-logo:hover,
a[href].footer-logo:focus {
    opacity: 0.6;
}

a[href].footer-logo:active {
    opacity: 0.3;
}

.footer-adress {
    line-height: 30px;
}

.footer-site-navigation {
    margin: 0;
    padding: 0;

    list-style: none;
}

.footer-site-navigation-item a {
    font-family: "gilroyextrabold", "Arial", sans-serif;
    font-size: 18px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #ffffff;
}

.footer-site-navigation-item a:hover,
.footer-site-navigation-item a:focus {
    color: rgba(255, 255, 255, 0.6);
}

.footer-site-navigation-item a:active {
    color: rgba(255, 255, 255, 0.3);
}

.footer-social {
    margin: 0;
    padding: 0;

    list-style: none;
}

.footer-user-navigation {
    margin: 0;
    padding: 0;

    list-style: none;
}

.footer-user-navigation a {
    font-size: 15px;
    line-height: 36px;
    color: rgba(255, 255, 255, 0.7);
}

.footer-user-navigation a:hover,
.footer-user-navigation a:focus {
    color: rgba(255, 255, 255, 1);
}

.footer-user-navigation a:active {
    color: rgba(255, 255, 255, 0.3);
}

.footer-phone {
    line-height: 30px;
}

.write-form label {
    font-family: "gilroyextrabold", "Arial", sans-serif;
    font-size: 18px;
    line-height: 18px;
}

.write-form input,
.write-form textarea {
    font-family: "open_sansregular", "Arial", sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: rgba(70, 70, 70, 0.4);

    background-color: #f2f2f2;
    border: none;
}

.write-form input:hover,
.write-form textarea:hover {
    background-color: #eaeaea;
}

.write-form input:focus,
.write-form textarea:focus {
    color: #464646;

    background-color: #ffffff;
    border: 3px solid #f7e296;
}

.write-form input:focus:invalid,
.write-form textarea:focus:invalid {
    background-color: #f6dada;
}

.write-form input::-webkit-input-placeholder,
.write-form textarea::-webkit-input-placeholder {
    color: rgba(70, 70, 70, 0.4);
}

.write-form input:-ms-input-placeholder,
.write-form textarea:-ms-input-placeholder {
    color: rgba(70, 70, 70, 0.4);
}

.write-form input::-ms-input-placeholder,
.write-form textarea::-ms-input-placeholder {
    color: rgba(70, 70, 70, 0.4);
}

.write-form input::placeholder,
.write-form textarea::placeholder {
    color: rgba(70, 70, 70, 0.4);
}
