@font-face {
    font-family: "gilroyextrabold";
    src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
    url("../fonts/gilroyextrabold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "gilroylight";
    src: url("../fonts/gilroylight.woff2") format("woff2"),
    url("../fonts/gilroylight.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "open_sanslight";
    src: url("../fonts/opensanslight.woff2") format("woff2"),
    url("../fonts/opensanslight.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "open_sansregular";
    src: url("../fonts/opensans.woff2") format("woff2"),
    url("../fonts/opensans.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    min-width: 1200px;

    font-family: "open_sanslight", "Arial", sans-serif;
    font-size: 15px;
    color: #000000;
    
    background-color: #ffffff;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.button {
    padding-left: 42px;
    padding-right: 42px;
    padding-top: 13px;
    padding-bottom: 13px;

    vertical-align: middle;
    text-align: center;
    font-family: "gilroyextrabold", "Arial", sans-serif;
    font-size: 18px;
    letter-spacing: 3.9px;
    text-transform: uppercase;
    color: #000000;

    background-color: transparent;
    background-image: linear-gradient(rgba(0, 0, 0, 0) 40%, #f0c52e 40%, #f0c52e 60%, rgba(0, 0, 0, 0) 60%);
    border: none;
    border-radius: 0;
}

.button:hover,
.button:focus {
    background-color: #f0c52e;
    background-image: none;
}

.button:active {
    color: rgba(0, 0, 0, 0.3);

    background-color: #f0c52e;
    background-image: none;
}

.inner-page .button {
    padding-left: 0;
    padding-right: 0;
    width: 200px;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.main-header-wrapper {
    padding-top: 21px;
    padding-bottom: 165px;
    padding-left: 60px;
    padding-right: 60px;

    background-color: #f7e296;
    background-image: linear-gradient(#ffffff 40px, #f7e296 40px);
}

.inner-page .main-header {
    margin-bottom: 34px;
}

.inner-page .main-header-wrapper {
    padding-bottom: 52px;
}

.main-header a {
    color: #000000;
}

.main-header a[href]:hover,
.main-header a[href]:focus {
    color: rgba(0, 0, 0, 0.6);
}

.main-header a[href]:active {
    color: rgba(0, 0, 0, 0.3);
}

.header-logo img {
    margin-bottom: 13px;
    width: 164px;
    height: 36px;
}

a[href].header-logo:hover,
a[href].header-logo:focus {
    opacity: 0.6;
}

a[href].header-logo:active {
    opacity: 0.3;
}

.main-header-top-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 31px;
}

.search {
    position: relative;

    width: 440px;
}

.search::before {
    content: "";

    position: absolute;
    top: 17px;
    left: 3px;

    width: 17px;
    height: 17px;

    background-image: url("../img/search.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.search-input {
    padding-left: 39px;
    padding-top: 6px;
    padding-bottom: 6px;
    width: 354px;

    font: inherit;
    line-height: 36px;
    letter-spacing: 0.15px;
    color: rgba(0, 0, 0, 0.3);

    background-color: transparent;
    border: none;
}

.search-input:hover {
    color: rgba(0, 0, 0, 0.6);
}

.search-input:focus {
    color: #000000;

    border-bottom: 2px solid #000000;
}

.search-input:focus ~ .search-button,
.search-button:hover,
.search-button:focus,
.search-button:active {
    visibility: visible;
}

.search-input::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.3);
}

.search-input:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.3);
}

.search-input::-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.3);
}

.search-input::placeholder {
    color: rgba(0, 0, 0, 0.3);
}

.search-input:hover::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.6);
}

.search-input:hover:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.6);
}

.search-input:hover::-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.6);
}

.search-input:hover::placeholder {
    color: rgba(0, 0, 0, 0.6);
}

.search-button {
    visibility: hidden;
    margin-left: -4px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 18px;
    padding-right: 18px;

    line-height: 36px;

    background-color: transparent;
    border: 2px solid #000000;
    border-radius: 0;
}

.search-button:hover,
.search-button:focus {
    color: #ffffff;
    
    background-color: #000000;
}

.search-button:active {
    color: rgba(255, 255, 255, 0.3);

    background-color: #000000;
}

.user-navigation {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    width: 500px;

    list-style: none;
}

.user-navigation a {
    font-size: 15px;
    line-height: 36px;
    letter-spacing: 0.15px;
}

.login-link-container {
    display: flex;
    width: 280px;
}

.login-link-container a:first-child {
    position: relative;

    margin-right: 20px;
    padding-left: 26px;
}

.main-header .logout-link {
    opacity: 0.3;
}

.login-link-container a:first-child::before {
    content: "";

    position: absolute;
    left: 0;
    top: 12px;

    width: 14px;
    height: 14px;

    background-image: url("../img/user.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.login-link-container a:hover::before,
.login-link-container a:focus::before {
    opacity: 0.6;
}

.login-link-container a:active::before {
    opacity: 0.3;
}

.main-header .compare {
    margin-left: 7px;
}

.main-header .compare-link {
    position: relative;

    padding-left: 20px;
}

.main-header .compare-link::before {
    content: "";

    position: absolute;
    left: 0;
    top: 6px;

    width: 12px;
    height: 12px;

    background-image: url("../img/compare.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.main-header .cart {
    margin-left: auto;
}

.main-header .cart-link {
    position: relative;

    padding-left: 24px;
}

.main-header .cart-link::before {
    content: "";

    position: absolute;
    left: 0;
    top: 3px;

    width: 14px;
    height: 14px;

    background-image: url("../img/cart.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.main-header .compare-link:hover::before,
.main-header .compare-link:focus::before,
.main-header .cart-link:hover::before,
.main-header .cart-link:focus::before {
    opacity: 0.8;
}

.main-header .compare-link:active::before,
.main-header .cart-link:active::before {
    opacity: 0.3;
}

.main-navigation > ul {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;

    list-style: none;
}

.catalog-link {
    position: relative;
}

.catalog-link > a {
    position: relative;

    padding-right: 21px;
}

.catalog-link > a::after {
    content: "";

    position: absolute;
    right: -8px;
    top: 2px;

    width: 18px;
    height: 18px;

    opacity: 0.3;

    background-image: url("../img/plus.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.catalog-link:hover .catalog-navigation {
    visibility: visible;
}

.main-navigation a {
    font-family: "gilroyextrabold", "Arial", sans-serif;
    font-size: 18px;
    letter-spacing: 3.5px;
    text-transform: uppercase;
}

.catalog-navigation {
    position: absolute;
    top: 20px;
    left: -60px;
    z-index: 5;

    visibility: hidden;
    display: flex;
    width: 1160px;
    height: 165px;
    padding-top: 22px;
    padding-left: 60px;
    padding-right: 60px;

    background-color: #f7e296;
}

.catalog-navigation-left {
    width: 239px;
}

.catalog-navigation-middle,
.catalog-navigation-right {
    width: 200px;
}

.catalog-navigation ul {
    margin: 0;
    padding: 0;

    list-style: none;
}

.catalog-navigation a {
    font-family: "open_sanslight", "Arial", sans-serif;
    font-size: 15px;
    line-height: 36px;
    letter-spacing: 0;
    text-transform: none;
}

.delivery-link {
    margin-left: 301px;
}

.garanty-link {
    margin-left: 35px;
}

.contacts-link {
    margin-left: auto;
}

.inner-title-wrapper {
    padding-left: 60px;
}

.page-title {
    margin: 0;
    margin-bottom: 15px;

    font-family: "gilroyextrabold", "Arial", sans-serif;
    font-size: 47px;
    letter-spacing: 0.6px;
}

.breadcrumbs {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    margin-bottom: 40px;
    padding: 0;

    list-style: none;
}

.breadcrumbs li {
    margin-right: 31px;
}

.breadcrumbs a,
.breadcrumbs-current {
    position: relative;

    line-height: 36px;
    letter-spacing: 0.14px;
    color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
    color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
    color: rgba(0, 0, 0, 0.1);
}

.breadcrumbs a::after {
    content: "";

    position: absolute;
    right: -15px;
    top: 7px;

    width: 5px;
    height: 7px;

    background-image: url("../img/nav-arrow.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.promo {
    position: relative;

    margin-top: -110px;
    margin-bottom: 91px;
    width: 1160px;
    height: 500px;
}

.slider-controls {
    position: absolute;
    right: 81px;
    bottom: 164px;

    width: 80px;
    height: 12px;
}

.slider-controls i {
    position: relative;

    display: inline-block;
    margin-right: 17px;
    width: 12px;
    height: 12px;

    cursor: pointer;
}

.slider-controls i:last-child {
    margin-right: 0;
}

.slider-controls i::before {
    content: "";

    position: absolute;

    width: 12px;
    height: 12px;

    border: 1px solid #000000;
    border-radius: 50%;
}

.slider-controls i.active::after {
    content: "";

    position: absolute;
    top: 50%;
    left: 50%;

    margin-left: -3px;
    margin-top: -3px;
    width: 6px;
    height: 6px;

    border: 1px solid #000000;
    border-radius: 50%;
}

.promo-list {
    margin: 0;
    padding: 0;

    list-style: none;

    overflow: hidden;
}

.promo-item {
    display: none;
    justify-content: space-between;
}

.promo-item:nth-child(1) {
    display: flex;
}

.promo-content {
    position: relative;
    z-index: 2;

    order: 1;

    padding-top: 80px;
    width: 541px;
}

.promo-content::before {
    content: "";

    position: absolute;
    left: 0;
    top: 36px;

    width: 100px;
    height: 7px;

    background-color: #ffffff;
}

.promo-content::after {
    position: absolute;
    left: 329px;
    top: -15px;
    z-index: -1;

    width: 100px;
    height: 7px;

    font-family: "gilroyextrabold", "Arial", sans-serif;
    font-size: 179px;
    line-height: 179px;
    color: #ffffff;
}

.promo-item:nth-child(1) .promo-content::after {
    content: "01";
}

.promo-item:nth-child(2) .promo-content::after {
    content: "02";

    left: 306px;
}

.promo-item:nth-child(3) .promo-content::after {
    content: "03";

    left: 303px;
}

.promo-item:nth-child(1) .product-image {
    margin-left: 70px;
    margin-top: -1px;
}

.promo-item:nth-child(2) .product-image {
    margin-left: 97px;
    margin-top: 11px;
}

.promo-item:nth-child(3) .product-image {
    margin-left: 11px;
    margin-top: 64px;
}

.promo-title {
    margin: 0;
    margin-bottom: 21px;

    font-family: "gilroyextrabold", "Arial", sans-serif;
    font-size: 47px;
    letter-spacing: 0.6px;
}

.promo-description {
    margin: 0;
    margin-bottom: 53px;

    line-height: 30px;
    letter-spacing: 0.15px;
    color: #464646;
}

.product-features {
    display: flex;
    margin: 0;
    margin-top: 64px;
    padding: 0;

    list-style: none;
}

.product-features li {
     margin-right: 78px;
 }

.product-features li:last-child {
    margin-right: 0;
}

.product-features-value {
    display: block;
    margin-bottom: 10px;

    font-family: "gilroylight", "Arial", sans-serif;
    font-size: 36px;
    letter-spacing: 0.36px;
}

.product-features-name {
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.13px;
    color: #464646;
}

.categories {
    margin-bottom: 157px;
}

.categories ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;

    list-style: none;
}

.categories-item {
    width: 160px;
}

.categories-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;
    width: 160px;
    height: 160px;

    background-color: #f7e296;
}

.categories-item:nth-child(2) .categories-wrap {
    align-items: flex-end;
}

.categories-link:hover .categories-wrap,
.categories-link:focus .categories-wrap {
    background-color: #f0c52e;
}

.categories-link:active img {
    opacity: 0.3;
}

.categories-link:active h3 {
    color: rgba(0, 0, 0, 0.3);
}

.categories-item h3 {
    margin: 0;

    font-family: "gilroyextrabold", "Arial", sans-serif;
    font-size: 18px;
    letter-spacing: 0.18px;
    color: #000000;
}

.services {
    margin-bottom: 94px;
    padding-bottom: 113px;

    background-color: #e5e5e5;
    background-image: linear-gradient(#ffffff 30px, #e5e5e5 30px);
}

.services .container {
    display: flex;
}

.services-names {
    position: relative;

    margin: 0;
    margin-top: 10px;
    padding: 0;
    width: 300px;

    list-style: none;
}

.services-names::after {
    content: "";

    position: absolute;
    right: 16px;
    top: -80px;
    width: 7px;
    height: 319px;

    background-color: #000000;
}

.services-names .button {
    position: relative;

    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    width: 160px;
    height: 40px;

    text-align: center;
}

.services-names .button:active {
    color: #f7e184;

    background-color: #000000;
}

.services-names-item {
    margin-bottom: 25px;
    width: 280px;
    height: 40px;
}

.services-current .button,
.services-current .button:hover,
.services-current .button:focus,
.services-current .button:active {
    color: #f7e184;

    background-color: #000000;
    background-image: none;
}

.services-current .button::after,
.services-names .button:active::after {
    content: "";

    position: absolute;
    right: -120px;
    top: 0;
    width: 120px;
    height: 40px;

    background-color: #000000;
}

.services-description {
    position: relative;
    
    margin: 0;
    margin-left: 100px;
    padding: 0;
    width: 700px;

    list-style: none;
}

.services-description::after {
    content: "";

    position: absolute;
    right: 2px;
    top: 15px;
    width: 140px;
    height: 170px;

    background-image: url("../img/delivery.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.services-description-item {
    display: none;
    width: 460px;
}

.services-description-item:first-child {
    display: block;
}

.service-title {
    margin: 0;
    margin-bottom: 28px;

    font-family: "gilroyextrabold", "Arial", sans-serif;
    font-size: 47px;
    letter-spacing: 0.9px;
}

.service-description {
    margin: 0;

    line-height: 30px;
    letter-spacing: 0.27px;
    color: #464646;
}

.brands {
    margin-bottom: 142px;
}

.brands-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;

    list-style: none;
}

.brands-logo {
    width: 260px;
    height: 100px;

    opacity: 0.2;
    background-position: 0 0;
    background-repeat: no-repeat;
}

.brands-logo:hover,
.brands-logo:focus {
    opacity: 1;
    background-position: 0 -100px;
}

.brands-dji {
    background-image: url("../img/brand-sprite-dji.png");
}

.brands-spgadgets {
    background-image: url("../img/brand-sprite-spgadgets.png");
}

.brands-gopro {
    background-image: url("../img/brand-sprite-gopro.png");
}

.brands-vive {
    background-image: url("../img/brand-sprite-vive.png");
}

.index-wrapper {
    display: flex;
    justify-content: space-between;
}

.about {
    position: relative;

    width: 500px;
}

.about::before {
    content: "";

    position: absolute;
    top: -49px;
    left: 0;
    width: 80px;
    height: 7px;

    background-color: #000000;
}

.about-title {
    margin: 0;
    margin-bottom: 40px;

    font-family: "gilroyextrabold", "Arial", sans-serif;
    font-size: 47px;
    letter-spacing: 0.15px;
}

.about-info {
    margin: 0;
    margin-bottom: 30px;

    line-height: 30px;
}

.delivery-list {
    margin: 0;
    margin-top: 65px;
    margin-bottom: 52px;
    padding: 0;

    list-style: none;
}

.delivery-item {
    position: relative;

    padding-left: 35px;

    font-family: "gilroyextrabold", "Arial", sans-serif;
    font-size: 16px;
    line-height: 40px;
}

.delivery-item::before {
    content: "";

    position: absolute;
    width: 8px;
    height: 8px;
    left: 0;
    top: 50%;
    margin-top: -4px;

    background: none;
    border: 2px solid #eeeeee;
    border-radius: 50%;
}

.about .button,
.contacts .button {
    display: block;
    padding-left: 0;
    padding-right: 0;
    width: 260px;
}

.contacts {
    position: relative;

    width: 560px;
}

.contacts::before {
    content: "";

    position: absolute;
    top: -49px;
    left: 0;
    width: 80px;
    height: 7px;

    background-color: #000000;
}

.contacts-title {
    margin: 0;
    margin-bottom: 40px;

    font-family: "gilroyextrabold", "Arial", sans-serif;
    font-size: 47px;
    letter-spacing: 0.15px;
}

.contacts-info {
    margin: 0;
    margin-bottom: 40px;

    line-height: 30px;
}

.contacts-map {
    margin-bottom: 62px;
}

.catalog-page.container {
    display: flex;
    justify-content: space-between;
    padding-left: 80px;
    padding-top: 25px;
}

.filters {
    position: relative;

    width: 268px;
}

.filters:before {
    content: "";
    position: absolute;
    right: 0;
    top: -25px;
    z-index: -1;

    width: 2000px;
    height: 69px;

    background-color: #dcdcdc;
}

.filters:after {
    content: "";

    position: absolute;
    right: 0;
    top: -25px;
    bottom: 0;
    z-index: -2;

    width: 2000px;

    background-color: #eeeeee;
}

.filters h2 {
    margin: 0;
    margin-bottom: 110px;

    font-family: "gilroyextrabold", "Arial", sans-serif;
    font-size: 16px;
    letter-spacing: 3.6px;
    text-transform: uppercase;
}

.filters fieldset {
    position: relative;

    margin: 0;
    padding: 0;

    border: none;
}

.filters fieldset::before {
    content: "";

    position: absolute;
    left: 0;
    top: -14px;

    width: 200px;
    height: 2px;

    background-color: #000000;
}

.filters legend {
    font-family: "gilroyextrabold", "Arial", sans-serif;
    font-size: 18px;
    letter-spacing: 0.15px;
}

.filters .filter-price {
    margin-bottom: 40px;
}

.filter-price legend {
    margin-bottom: 27px;
}

.price-range {
    position: relative;
}

.price-range::before {
    content: "";

    position: absolute;
    z-index: -1;
    left: 5px;
    top: 10px;

    width: 196px;
    height: 2px;

    background-color: #dbdbdb;
}

.price-range::after {
    content: "";

    position: absolute;
    z-index: -1;
    left: 10px;
    top: 10px;

    width: 110px;
    height: 2px;

    background-color: #91c92f;
}

.price-min {
    position: relative;
    left: -7px;

    margin-right: 83px;
}

.price-min:active,
.price-max:active {
    transform: scale(1.2);

    cursor: pointer;
}

.price-range input {
    background-color: transparent;
    border: none;
}

.price-range input,
.price-range label {
    font-family: "gilroylight", "Arial", sans-serif;
    font-size: 14px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.2);
}

.price-min,
.price-max {
    width: 20px;
    height: 22px;

    background-color: transparent;
    background-image: url("../img/filter-button.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    border: none;
}

.price-values {
    margin-top: -10px;
}

.price-values label:first-child {
    margin-left: -2px;
    margin-right: 18px;
}

.price-values input {
    max-width: 50px;
}

.filters ul {
    margin: 0;
    padding: 0;

    list-style: none;
}

.filters .filter-color {
    margin-bottom: 45px;
}

.filter-color legend {
    margin-bottom: 20px;
}

.filter-input:disabled + label {
    color: #a6a6a6;
}

.filters label {
    position: relative;

    font-size: 14px;
    line-height: 40px;
}

.filter-option {
    display: flex;
}

.filters .checkbox-label {
    padding-left: 38px;
}

.filters .checkbox-label::before {
    content: "";

    position: absolute;
    left: -2px;
    top: 50%;

    margin-top: -13px;
    width: 28px;
    height: 26px;

    background-image: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.filter-checkbox:checked ~ .checkbox-label::before {
    background-image: url("../img/checkbox-on.svg");
}

.filter-bluetooth legend {
    margin-bottom: 20px;
}

.filters .filter-bluetooth {
    margin-bottom: -2px;
}

.filters .radio-label {
    padding-left: 38px;
}

.filters .radio-label::before {
    content: "";

    position: absolute;
    left: -2px;
    top: 50%;

    margin-top: -13px;
    width: 28px;
    height: 26px;

    background-image: url("../img/radio-off.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.filter-radio:checked ~ .radio-label::before {
    background-image: url("../img/radio-on.svg");
}

.filter-checkbox:focus ~ .checkbox-label::before,
.filter-radio:focus ~ .radio-label::before {
    outline: 2px solid #ffc600;
}

.filters .button {
    margin-top: 30px;
}

.sort {
    position: relative;

    display: flex;
    margin-bottom: 95px;
    width: 760px;
}

.sort:before {
    content: "";
    position: absolute;
    left: -500px;
    top: -25px;
    z-index: -3;

    width: 2500px;
    height: 69px;

    background-color: #ebebeb;
}

.sort h2 {
    margin: 0;
    margin-right: 50px;

    font-family: "gilroyextrabold", "Arial", sans-serif;
    font-size: 16px;
    letter-spacing: 3.6px;
    text-transform: uppercase;
}

.sort ul {
    display: flex;
    margin: 0;
    padding: 0;

    list-style: none;
}

.sort ul:last-child {
    margin-left: auto;
}

.sort a {
    font-family: "open_sansregular", "Arial", sans-serif;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0;
    color: rgba(0, 0, 0, 0.3);
}

.sort a[href]:hover,
.sort a[href]:focus {
    color: rgba(0, 0, 0, 0.6);
}

.sort a[href]:active {
    color: #000000;
}

.sort-param-current a,
.sort-order-current a {
    color: #000000;
}

.sort-param li {
    margin-right: 30px;
}

.sort-param:last-child {
    margin-right: 0;
}

.sort-order-up {
    display: inline-block;
    width: 11px;
    height: 10px;
    margin-right: 20px;

    opacity: 0.2;

    background-image: url("../img/icon-up-dir.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.sort-order-down {
    display: inline-block;
    width: 11px;
    height: 10px;

    opacity: 0.2;

    background-image: url("../img/icon-down-dir.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.sort-order a:hover,
.sort-order a:focus {
    opacity: 0.4;
}

.sort-order a:active {
    opacity: 1;
}

.sort-order-current a,
.sort-order-current a:hover,
.sort-order-current a:active {
    opacity: 1;
}

.catalog {
    margin-bottom: 45px;
    width: 760px;
}

.catalog-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;

    list-style: none;
}

.catalog-item {
    position: relative;

    display: flex;
    flex-direction: column;
    margin-right: 40px;
    margin-bottom: 50px;
    width: 360px;
}

.catalog-item:nth-child(even) {
    margin-right: 0;
}

.catalog-item:nth-child(4)::after {
    content: "";

    position: absolute;
    right: 26px;
    top: 29px;
    z-index: 6;

    width: 62px;
    height: 62px;

    background-image: url("../img/new.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.catalog-item-name {
    margin: 0;
    width: 260px;

    order: 2;
}

.catalog-item-name a {
    font-family: "gilroyextrabold", "Arial", sans-serif;
    font-size: 18px;
    letter-spacing: 0.15px;
    color: #000000;
}

.catalog-item-image {
    position: relative;

    margin-bottom: 31px;
}

.catalog-item-image::after {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    width: 360px;
    height: 380px;

    opacity: 0;

    background-color: #eeeeee;
}

.catalog-item-image:hover::after {
    opacity: 0.7;
}

.catalog-item-image:hover ul {
    z-index: 2;
}

.catalog-item-image ul {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -3;

    margin: 0;
    padding: 0;
    padding-top: 170px;
    width: 360px;
    height: 380px;
}

.catalog-item ul {
    list-style: none;
}

.catalog-item li {
    text-align: center;
}

.catalog-item-price {
    position: absolute;
    right: 0;
    top: 417px;
}

.compare-link {
    margin-top: 5px;

    font-size: 13px;
    line-height: 36px;
    color: rgba(0, 0, 0, 0.5);

    background-color: transparent;
    border: none;
}

.compare-link:hover,
.compare-link:focus {
    color: #000000;
}

.compare-link:active {
    color: rgba(0, 0, 0, 0.2);
}

.catalog-item-price {
    font-family: "gilroylight", "Arial", sans-serif;
    font-size: 16px;
    letter-spacing: 0.15px;
    color: #464646;
}

.pagination {
    display: flex;
    margin: 0;
    margin-top: -55px;
    margin-bottom: 77px;
    padding: 0;
    padding-top: 27px;
    padding-bottom: 25px;

    list-style: none;

    background-color: #ebebeb;
}

.pagination-item a {
    font-family: "gilroyextrabold", "Arial", sans-serif;
    font-size: 16px;
    letter-spacing: 3.2px;
    color: rgba(0, 0, 0, 0.3);
}

.pagination-item a[href]:hover,
.pagination-item a[href]:focus {
    color: rgba(0, 0, 0, 0.6);
}

.pagination-item a[href]:active {
    color: #000000;
}

.pagination-item-current a {
    color: #000000;
}

.pagination-prev a,
.pagination-next a {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 26px;
    padding-bottom: 25px;

    text-transform: uppercase;
    color: #000000;
}

.pagination-prev a[href]:hover,
.pagination-next a[href]:hover,
.pagination-prev a[href]:focus,
.pagination-next a[href]:focus {
    background-color: #d9d9d9;
}

.pagination-prev a[href]:active,
.pagination-next a[href]:active {
    color: rgba(0, 0, 0, 0.3);

    background-color: #d9d9d9;
}

.pagination-item {
    margin-right: 28px;
}

.pagination-prev {
    margin-right: 209px;
}

.pagination-next {
    margin-left: auto;
    margin-right: 0;
}

.main-footer {
    margin-top: 79px;
    padding-top: 57px;
    padding-bottom: 65px;

    color: #ffffff;

    background-color: #464646;
}

.inner-page .main-footer {
    margin-top: 0;
}

.main-footer .container {
    display: flex;
}

.main-footer-left {
    position: relative;

    width: 260px;
}

.main-footer-left::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 31px;

    width: 80px;
    height: 7px;

    background-color: #ffc600;
}

.main-footer-middle {
    margin-left: 107px;
    margin-top: 81px;

    text-align: center;
}

.main-footer-right {
    margin-left: auto;
    padding-top: 3px;
    width: 325px;

    text-align: right;
}

.footer-logo {
    font-family: "gilroyextrabold", "Arial", sans-serif;
    font-size: 48px;
    letter-spacing: 0.15px;
    text-transform: uppercase;
    color: #ffc600;
}

a[href].footer-logo:hover,
a[href].footer-logo:focus {
    opacity: 0.6;
}

a[href].footer-logo:active {
    opacity: 0.3;
}

.footer-adress {
    margin: 0;
    margin-top: 18px;

    line-height: 30px;
}

.footer-site-navigation {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    margin-bottom: 66px;
    padding: 0;
    width: 428px;

    list-style: none;
}

.footer-site-navigation-item a {
    font-family: "gilroyextrabold", "Arial", sans-serif;
    font-size: 18px;
    letter-spacing: 3.6px;
    text-transform: uppercase;
    color: #ffffff;
}

.footer-site-navigation-item a:hover,
.footer-site-navigation-item a:focus {
    color: rgba(255, 255, 255, 0.6);
}

.footer-site-navigation-item a:active {
    color: rgba(255, 255, 255, 0.3);
}

.footer-social {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    padding: 0;
    width: 161px;

    list-style: none;
}

.footer-social .social-button {
    display: block;
    width: 33px;
    height: 33px;

    opacity: 0.3;

    background-repeat: no-repeat;
    background-position: 0 0;
}

.footer-social .social-button:hover,
.footer-social .social-button:focus {
    opacity: 0.6;
}

.footer-social .social-button:active {
    opacity: 0.1;
}

.footer-social .social-fb {
    background-image: url("../img/facebook.svg");
}

.footer-social .social-ig {
    background-image: url("../img/instagram.svg");
}

.footer-social .social-tw {
    background-image: url("../img/twitter.svg");
}

.footer-user-navigation {
    display: flex;
    justify-content: space-between;
    margin: 0;
    margin-bottom: 33px;
    padding: 0;

    list-style: none;
}

.footer-user-navigation a {
    font-size: 15px;
    line-height: 36px;
    letter-spacing: 0.15px;
    color: rgba(255, 255, 255, 0.7);
}

.footer-user-navigation a:hover,
.footer-user-navigation a:focus {
    color: rgba(255, 255, 255, 1);
}

.footer-user-navigation a:active {
    color: rgba(255, 255, 255, 0.3);
}

.footer-user-navigation svg {
    fill: #ffc600;
}

.footer-user-navigation .login-link {
    margin-right: 43px;
}

.footer-user-navigation .login-link svg {
    margin-right: 8px;
}

.footer-user-navigation .compare-link {
    margin-right: 39px;
}

.footer-user-navigation .compare-link svg {
    margin-right: 5px;
}

.footer-user-navigation .cart-link svg {
    margin-right: 6px;
}

.footer-phone {
    margin-bottom: 62px;

    line-height: 30px;
}

.copyright svg {
    width: 27px;
    height: 36px;

    fill: #ffc600;
}

.copyright svg:hover,
.copyright svg:focus {
    opacity: 0.6;
}

.copyright svg:active {
    opacity: 0.3;
}

.write-form label {
    font-family: "gilroyextrabold", "Arial", sans-serif;
    font-size: 18px;
    line-height: 18px;
}

.write-form input,
.write-form textarea {
    font-family: "open_sansregular", "Arial", sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: rgba(70, 70, 70, 0.4);

    background-color: #f2f2f2;
    border: none;
}

.write-form input:hover,
.write-form textarea:hover {
    background-color: #eaeaea;
}

.write-form input:focus,
.write-form textarea:focus {
    color: #464646;

    background-color: #ffffff;
    border: 3px solid #f7e296;
}

.write-form input:focus:invalid,
.write-form textarea:focus:invalid {
    background-color: #f6dada;
}

.write-form input::-webkit-input-placeholder,
.write-form textarea::-webkit-input-placeholder {
    color: rgba(70, 70, 70, 0.4);
}

.write-form input:-ms-input-placeholder,
.write-form textarea:-ms-input-placeholder {
    color: rgba(70, 70, 70, 0.4);
}

.write-form input::-ms-input-placeholder,
.write-form textarea::-ms-input-placeholder {
    color: rgba(70, 70, 70, 0.4);
}

.write-form input::placeholder,
.write-form textarea::placeholder {
    color: rgba(70, 70, 70, 0.4);
}
